.navbar-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 10px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo_img {
  width: 125px;
  height: 75px;
  border-radius: 25px;
  margin-left: 25px;
}

.navigation-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigation-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-right: 25px;
}

.social-list {
  margin-left: 10px;
  border-radius: 50px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-right: 25px;
  text-decoration: none;
  color: blue;
  font-size: 1.5rem;
}

.navigation-list a {
  color: black;
  text-decoration: none;
}

.navigation-list a:hover {
  color: blue;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.Insta_Icon,
.Fb_Icon {
  width: 50px;
  height: 50px;
}

.burger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.navigation {
  display: flex;
}

.navigation.open {
  display: block;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .navigation.open {
    display: flex;
  }

  .navigation-list {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navigation-list li {
    margin: 10px 0;
  }

  .socials {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-menu {
    display: block;
  }
}
